doctype html

div.wrapper
    div.auth
        div.auth-container
            div.logo-svg
                include ../../svg/logo-color.svg
            p.logo Welcome To Taiga <br>Project Managment Tool 
            
            include ../includes/modules/login-form
