doctype html

div.wrapper
    div.auth
        div.auth-container
            div.logo-svg
                include ../../svg/logo-color.svg
            h1.logo Join With us and enjoy your projects

            include ../includes/modules/register-form
